[Unit]
Description=Gitlab: Self Hosted Git Management Application
Requires=redis.service sidekiq.service nginx.service
After=redis.service sidekiq.service
 
[Service]
Type=forking
PIDFile=/home/git/gitlab/tmp/pids/server.pid
ExecStart=/usr/bin/bundle exec rails s -e production
User=git
WorkingDirectory=/home/git/gitlab
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
