[Unit]
Description=Sidekiq
Requires=redis.service
After=redis.service

[Service]
Type=forking
PIDFile=/home/git/gitlab/tmp/pids/sidekiq.pid
ExecStart=/usr/bin/bundle exec rake sidekiq:start RAILS_ENV=production
ExecStop=/usr/bin/bundle exec rake sidekiq:stop RAILS_ENV=production
User=git
WorkingDirectory=/home/git/gitlab
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target